/* CSS for GUI...*/

#memorygame {
	/* ... */
	empty-cells: show;
	border-spacing: 0;
	background: black;
	border: 4px solid white;
}

.face-down {
	background: red;
}

.face-up {
	background: yellow;
}

.matched {
	background: green;
	border: 2px dashed purple;
}

